/* shared font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* header bg */
.header-bg{
  background-image:url(../Assets/Hero-bg.png) ;

  
}



/* navbar */
.font-h2{
  color:#4E47FF ;
  font-weight: 700;
  font-size:34px ;
  margin-top:51px ;
  margin-left:150px ;
}
.link-a{
  background-color: #4E47FF;
  color:#FFFFFF ;
  text-decoration: none;
  margin-top:50px ;
  margin-right:150px ;
  border-radius:5px ;

}
.list-style{
  list-style:none ;
  padding:12px 36px ;
  
}
.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-h1{
  font-weight: 700;
  font-size:50px ;
  color:#252432 ;

}



.btn-description{
  background-color: #4E47FF;
  color: #FFFFFF;
  padding:12px 36px;
  border-radius:10px ;
  align-items: center;
  font-weight:700 ;
  font-size:16px ;

}

     /* main section 1 */
     .title-h3{
      font-weight:700 ;
      font-size:42px ;
      color:#252432 ;
     }

     .subtitle{
      font-weight: 300;
      font-size:24px ;
      color: #252432;
     }
     .button-style{
      font-family:700 ;
      font-style:16px ;
      color:#FFFFFF ;
      background-color: #4E47FF;
      padding:12px 36px ;
      border-radius:5px ;
     }
     .full-section{
      display: flex;
      margin-left:141px ;
      margin-right:159px ;
      margin-top:80px ;
      margin-bottom:122px ;
     }

     /* main section 2 */
.productive-users {
  background-color: #f4f5ff;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.productive-content {
  background-color: #e6eaff;
  padding: 40px 60px;
  border-radius: 16px;
  text-align: center;
  width: 100%;
  max-width: 1000px;
}

.productive-content h2 {
  font-size: 20px;
  color: #1f1f1f;
  margin-bottom: 30px;
  font-weight: 600;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.stat h3 {
  color: #3b49df;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stat p {
  font-size: 14px;
  color: #333;
}
     
